--path:"deps/unittest2"
--path:"../lockfree/src"

# Default output directory for compiled binaries
--outdir:".tmp"

# DWCAS (16-byte CAS) flags for GCC / Clang
@if (amd64 or x86_64) and (gcc or clang) and not vcc:
  passC = "-mcx16"
@elif arm64 and gcc and not vcc:
  passC = "-march=armv8.1-a+lse -mno-outline-atomics"
@elif arm64 and clang and not vcc:
  passC = "-march=armv8.1-a+lse"
@end
