############# begin Atlas config section ##########
--noNimblePath
--path:"../nim-debra/src"
--path:"deps/unittest2"
--path:"../nim-typestates/src"
############# end Atlas config section   ##########
