############# begin Atlas config section ##########
--noNimblePath
--path:"/Users/eek/Development/workspaces/lockfree/extract-compat-shims/lockfree/src"
--path:"deps/unittest2"
--path:"../nim-typestates/src"
############# end Atlas config section   ##########

# Default output directory for compiled binaries
--outdir:".tmp"
