/*
Extra css appended to nimdoc.out.css
*/

dt > pre {
  white-space: normal;
}

span.Other + span.Comment,
span.pragmawrap + span.Comment,
span.Identifier + span.Comment,
span.Comment + span.Comment,
a[href] + span.Comment {
  white-space: normal;
  display: block;
  margin-left: 2em;
}

span.Other + span.Comment:before,
span.pragmawrap + span.Comment:before,
span.Identifier + span.Comment:before,
a[href] + span.Comment:before {
  content: '\A     ';
  white-space: pre;
}

span.Comment + span.Comment:before {
  content: '    ';
  white-space: pre;
}

/*
#searchInputDiv {
  display: none;
} */
